<div class="foot">
		<div class='row'>
			<div class="col-md-4">
				<hr>
				<ul>
					<li id="foot-head"><h4><b>Vikas Verma</b></h4></li>
					<li><a href="https://fb.com/vikk2411">Facebook</a></li>
					<li><a href="https://github.com/vikk2411">Github</a></li>
					<li><a href="https://in.linkedin.com/in/vikk2411">Linkedin</a></li>
					<li><a href="mailto:vikk2411@gmail.com">Email Me</a></li>
					<li><a href="/resume/verma_resume.docx">Download Resume</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<hr>
				<ul>
					<li id="foot-head"><h4><b>Developed using</b></h4></li>
					<li><a href="http://rubyonrails.org/">Ruby on Rails</li>
					<li><a href="http://rubyonrails.org/">AngularJS</li>
					<li><a href="https://getbootstrap.com">Bootstrap</a></li>
					<!-- <li><a href="https://aws.amazon.com">Amazon Web Services</a></li> -->
				</ul>
			</div>
			<div class="col-md-4">
				<hr>
					<ul>
					<li id="foot-head"><h4><b>Techilla</b></h4></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Suggestions & Feedbacks</a></li>
					</ul>
			</div>
		</div>
	</div>
</div>

