 
 <div class="container">
    <div class="row" ng-contoller="homeCtrl">
    <nav class="navbar nav navbar-fixed-top navbar-inverse" style="padding-right: 60px;">
      <ul class="nav navbar-nav navbar-right ">
        <li><a href="/">Home</a></li>
        
          <li><a href="/#" ng-if="user">{{user.name}}</a></li>
         <!--  <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li>
                <li><a href="#">logout</a></li> 
              </li>
            </ul>
          </li> -->
          
          <li><a href="/auth/twitter" ng-if="!user">Twitter Sign in</a></li>
          <li><a href="#" ng-click="logout()"> Logout</a></li>
          <!-- <li><a href="#">Sign Up</a></li> -->

      </ul>
    </nav>
  </div>
  </div>
