  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 ng-if="name">Hello, {{name}}</h1>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
          <ol>
            <li ng-repeat='user in users | filter : name'>{{user.name}}</li>
          </ol>
        </div>
      </form>
    </div>
  </div>

  <div ng-if="!user">
    <a href="/auth/twitter"> Login Using Twitter</a>
  
  </div>
  <div ng-if="user">
    <a href="#" ng-click="logout()"> logout</a>
  
  </div>
