// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.foot{
  margin-bottom: 20px;
  
ul{
  list-style:none;
  
  li{
  a{color: #A3A948;}
  color: #868686;
  margin-bottom: 2px;
  #foot-head{

  margin-bottom: 10px;
  }
  }
}

}

a:hover {
    text-decoration: none;
}